aiohttp~=3.12.14

openai~=1.97.1
anthropic~=0.59.0


Pillow~=11.3.0
beautifulsoup4~=4.13.4

readability-lxml~=0.8.4.1
quart~=0.20.0

colorlog~=6.9.0
aiocqhttp~=1.4.4
pyjwt~=2.10.1
apscheduler~=3.11.0

aiodocker~=0.24.0

ormsgpack~=1.10.0
cryptography~=45.0.5
dashscope~=1.24.0
python-telegram-bot~=22.3
wechatpy~=1.8.18

defusedxml~=0.7.1
mcp~=1.12.2
certifi~=2025.7.14

click~=8.2.1
filelock~=3.18.0
watchfiles~=1.1.0
websockets~=15.0.1
faiss-cpu~=1.11.0.post1
aiosqlite~=0.21.0

pydub~=0.25.1
httpx~=0.28.1
PyYAML~=6.0.2
numpy~=2.3.2
docstring_parser~=0.17.0
typing_extensions~=4.14.1
slack_sdk~=3.36.0
requests~=2.32.4
optionaldict~=0.1.2
anyio~=4.9.0
jmcomic~=2.6.4